{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      ],
      "@babel/preset-react",
      "next/babel"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "module-name-mapper",
          {
              "moduleNameMapper": {
                //  "\\.scss$": "<rootDir>/helpers/style-mock.js"
              }
          }
      ]
    ]
}